<main class="main">
  <div class="content">

      <div class="pill-group">
        @for (item of backlog; track item.task) {

          @if(item.priority == sortBy && sortEnabled == true){
              <a
                class="pill"
                target="_blank"
                rel="noopener"
              >

                <span [class.completed]="item.done" >{{ item.task }}
                  <span [class.priorityLabel]>{{item.priority == 0 ? 
                    '&#8593; Urgent': item.priority == 1 ? 
                    '' : item.priority == 2 ? 
                    '&#8595; Chill': ''}}</span>
                </span>
                @if(!item.done){              
                  <form>
                    <input type="checkbox" (click)="CheckItem(item)" id="checkboxDone" />
                  </form>
                
              }
              </a>
          }
          @else if (sortEnabled == false) {
            <a
              class="pill"
              target="_blank"
              rel="noopener"
            >

              <span [class.completed]="item.done" >{{ item.task }}
                <span [class.priorityLabel]>{{item.priority == 0 ? 
                  '&#8593; Urgent': item.priority == 1 ? 
                  '' : item.priority == 2 ? 
                  '&#8595; Chill': ''}}</span>
              </span>
              @if(!item.done){              
                <form>
                  <input type="checkbox" (click)="CheckItem(item)" id="checkboxDone" />
                </form>
              
              }
            </a>
          }

        }

        <button (click)="ResetList()">Reset</button>

    </div>

  </div>
  
</main>

  <label for="prioritySort">Sort Tasks </label>
  <select id="prioritySort" name="prioritySort">
    <option value="3" selected>Choose filter</option>
    <option value="2">Low Priority</option>
    <option value="1">Regular Priority</option>
    <option value="0">Urgent</option>
  </select>
  <button (click)="SortList()" style="margin-left: 10px;">Apply</button>
  <button (click)="ResetFilter()" style="margin-left: 10px;" [disabled]="!sortEnabled">Show all</button>

<hr/>
<h4>Add Task</h4>
<label for="taskLabel">Title </label>
<input type="text" id="taskLabel"  list="commmon" placeholder="Search options (U or C)">
  <datalist id="common">
    <option value="system1">Update phone</option>
    <option value="system2">Update tablet</option>
    <option value="system3">Charge phone</option>
    <option value="system4">Charge tablet</option>
  </datalist>
<label for="priLabel" style="margin: 10px;">Priority</label>
<select id="priLabel" name="priLabel" [(ngModel)]="todoModel.priority">
  <option value="2">Low Priority</option>
  <option value="1" selected>Regular</option>
  <option value="0">Urgent</option>
</select>
<button (click)="AddTask()" style="margin: 10px;">Add Task</button>



